<h1>enter lengths<h1>
  <form action="/triangle" method="post">
    <div class="form-group">
      <label for="triangle_input">Enter triangle dims</label>
      <input id="side1" name="triangle_input" class="form-control" type="number">
      <input id="side2" name="triangle_input" class="form-control" type="number">
      <input id="side3" name="triangle_input" class="form-control" type="number">
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
